.scene-1-page-9-3 {
  &-header {
    width: 69%;
    margin-bottom: 3vh;
  }

  &-board {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    margin-bottom: 3.7vh;
    border-radius: 1vmin;
    background: linear-gradient(110deg, #000 -73.15%, #282a2f 106.81%);
  }

  &-board-left {
    position: relative;
    z-index: 2;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    padding: 2vh;
  }

  &-board-right {
    position: relative;
    flex-basis: 40%;
    background-image: url("./../images/abstraction_dec_right_type_6@2x.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }

  &-table {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 39vh 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2% 1%;
    margin-bottom: 2vh;
  }

  &-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8vh;
    border-radius: 1.5vmin;
    background: linear-gradient(300deg, #494d51 -73.1%, #2d3035 81.5%);
    box-shadow:
      0.2vh 0.3vh 1vh 0vh #070709 inset,
      -0.2vh -0.2vh 1vh 0vh rgba(255, 255, 255, 0.05) inset;
  }

  &-note {
    font-size: 1.2vmin;
  }

  &-board-header {
    padding: 1vh;
  }


  &-bubble {
    position: absolute;
    top: 17%;
    right: 12%;
    @include calculateItemSizeVH(582, 512);
  }

  &-svg-bubble-small {
    position: absolute;
    left: 0;
    top: 0;
    @include calculateItemSizeVH(50, 50);
    background-color: #fff;
    border-radius: 100%;
    animation: scene1page93bubbling1 3s linear 0s 1;
  }

  &-svg-bubble-mid {
    position: absolute;
    left: 11%;
    top: 11%;
    @include calculateItemSizeVH(75, 75);
    background-color: #fff;
    border-radius: 100%;
    animation: scene1page93bubbling2 3s linear 0s 1;
  }

  &-svg-bubble-main {
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    height: inherit;
    animation: scene1page93bubbling3 3s linear 0s 1;
  }

  @keyframes scene1page93bubbling1 {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }

    33% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scene1page93bubbling2 {
    0% {
      opacity: 0;
    }

    33% {
      opacity: 0;
      transform: scale(0.8);
    }

    67% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scene1page93bubbling3 {
    0% {
      opacity: 0;
    }

    67% {
      opacity: 0;
      transform: scale(0.8);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@media (max-aspect-ratio: 7/4) {
  .scene-1-page-9-3 {
    &-header {
      width: 100%;
      font-size: 3.8vmin;
    }

    &-board-left {
      flex-basis: 100%;
    }

    &-board-right {
      display: none;
    }
  }
}

@media (max-aspect-ratio: 7/5) {
  .scene-1-page-9-3 {
    &-header {
      font-size: 2.3vmin;
      margin-bottom: 2vh;
    }

    // &-board-left {
    //   width: 55%;
    // }

    // &-board-right {
    //   width: 45%;
    // }

    &-svg {
      @include calculateItemSizeVH(564, 599, 1500);
    }

    &-bubble {
      @include calculateItemSizeVH(349, 349, 1500);
    }
  }
}
