.scene-1-page-4 {
  &-header {
    width: 80%;
    margin-bottom: 6vh;
  }

  &-svg-spinner {
    @include calculateItemSizeVH(1104, 628);
    max-width: 100%;
  }
}

@media (max-aspect-ratio: 7/5) {
  .scene-1-page-4 {
    &-header {
      width: 100%;
      font-size: 4vmin;
    }
  }
}
