.scene-2-page-5 {
  .page-body {
    flex-grow: 0;
  }

  &__top-arrow {
    margin-top: 3vh;
    margin-bottom: 4.537vmin;
    text-align: center;
  }

  &-cell-ico {
    flex-shrink: 0;
    @include calculateItemSizeVH(435, 83);
  }


  &__info {
    display: flex;
    gap: 5vmax;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 143vmin;
  }

  &__info-wrap {
    flex-basis: 50%;
    position: relative;
  }

  &__text {
    @include fontProperty(2.963vmin, 1.2, 700, #fff, left);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 74%;
  }

  &__left {
    background-image: url('../images/scene-2-page-5-left-block.svg');
    background-size: cover;
    @include calculateItemSizeVH(712, 283)
  }

  &__right {
    background-image: url('../images/scene-2-page-5-right-block.svg');
    background-size: cover;
    @include calculateItemSizeVH(712, 283)
  }

  &__blue-text {
    color: var(--five-screen-color);
  }

  &__white-color {
    color: var(--five-white-color);
  }

  &__btns_block {
    display: flex;
    align-items: center;
    gap: 6.759vmin;
    margin-top: 13.981vmin;
  }

  &__btn-controls {
    text-transform: capitalize;


  }

  .btn {
    padding: 3vh 7vw;
  }
}


@media (max-width: 1550px) {
  .scene-2-page-5 {
    &__left {
      @include calculateItemSizeVH(662, 263)
    }

    &__right {
      @include calculateItemSizeVH(662, 263)
    }

    &__info {
      width: 100%;
    }

    &__text {
      width: 78%;
    }
  }
}

@media (max-width: 1280px) {
  .scene-2-page-5 {
    &__left {
      @include calculateItemSizeVH(626, 248)
    }

    &__right {
      @include calculateItemSizeVH(626, 248)
    }

    &__info {
      width: 100%;
    }


  }
}

@media (max-width: 992px) {
  .scene-2-page-5 {
    &__left {
      @include calculateItemSizeVH(712, 283)
    }

    &__right {
      @include calculateItemSizeVH(712, 283)
    }



    &__text {
      width: 74%;
    }
  }
}