.scene-2-page-6-5 {

  .header {
    margin-bottom: 3vh;
    width: 76%;
  }

  .page-body {

    width: 100%;
  }

  &-text-svg {
    width: 100%;
    height: 65.2777777778vh;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  &-board-note {
    position: absolute;
    width: 34vh;
    bottom: 2%;
    right: 0;
    font-size: 1.2vmin;
  }
}