.scene-2-page-6-4 {


  .header {
    margin-bottom: 2vh;
    width: 70%;
  }

  .page-body {
    width: 100%;
  }

  &__bg {
    display: flex;
    border-radius: 10px;
    border: 1.5px solid #323465;
    background: linear-gradient(110deg, #000 -73.15%, #282A2F 106.81%);
    backdrop-filter: blur(22px);


  }

  &__left-svg {
    // @include calculateItemSizeVH(805, 615)
    width: 100%;
    height: 100%;
  }

  &__left {
    width: 47.214%;
    padding: 1.667vmin 3.519vmin;
  }

  &__right {
    width: 52.786%;
    position: relative;
    background-image: url(../images/scene-2-page-6-4__right-bg@2x.png);
    background-size: cover;
    background-position: top right;
  }

  &-board-note {

    width: 94%;

  }

}