.scene-2-page-6-5 {

  .header {
    margin-bottom: 3vh;
    width: 76%;
  }

  .page-body {

    width: 100%;
  }

  &-text-svg {
    width: 100%;
    height: 65.2777777778vh;
    // @include calculateItemSizeVH(1340, 705);
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}