:root {
	--body-min-height: 100%;

	--bg-color-page: #000;

	--color-circle-dec-pink: rgba(255, 71, 135, 0.63);
	--color-circle-dec-blue: #004373;

	--font-main: Helvetica, "Roboto", sans-serif;
	--font-color-pink: #ff4787;
	--font-color-blue: #1ea0ff;

	--btn-background-color-pink: #ff4787;

	--scene-1-page-7-3-plate-1-bg: #005593;
	--scene-1-page-7-3-plate-2-bg: #67bbf9;
	--scene-1-page-7-3-plate-3-bg: #ff4787;

	// 2 сцена
	--second-screen-color: #1ea0ff;

	// 5 сцена
	--five-screen-color: #67bcfa;
	--five-white-color: #ffffff;
}